.about{
    width:100%;
    padding:0px;
    margin:0px;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.about img{
    max-width: 360px;
    height: auto;
    display: block;
}

.about-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.about-text h1{
    text-transform: capitalize;
}

.about-text h5{
    text-transform: capitalize;
    letter-spacing: 2px;
}

.about-text p{
    text-transform: capitalize;
    /* margin-bottom: 45px; */
    letter-spacing: 1px;
}


.connect-button {
    display: inline-block;
    width: auto;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.connect-button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    transform: scale(1.05);
}

.main {
    width: 100%;
    margin: 0px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow-x: hidden;
    flex-wrap: wrap;
    background: linear-gradient(var(--gray-color),#8fffcb);    
}

.box1, .box2, .box3 {
    padding: 3rem 0;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    height: 110vh;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.box1 {
    /* background-color: #E6F4EF; */
}

.box2 {
    /* background-color: #E1F2EB; */
}

.box3 {
    /* background-color: #DBEEE7; */
}

@media (max-width: 768px) {
    .box1, .box2, .box3 {
        flex-direction: column;
        height: auto; /* Allow content to size box */
        gap: .75rem;
        padding: 20px;
        text-align: center;
    }

    .about img {
        width: 200px;
        height: 200px;
    }

    .about-text {
        width: 90%;
        margin: auto;
        align-items: center;
    }
}

@media (max-width: 1061px) {
    .about-text {
        align-items: center;
    }
}