:root {
    --primary-color: #1DBF73;
    --secondary-color: #0f5641;
    --black-color: #232222;
    --white-color: #fff;
}

#projects {
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    height: 300px;
    flex: 1 0 300px;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    margin: 20px;

    cursor: pointer;
    transition: 300ms;
}

.card:hover {
    border: 5px solid var(--secondary-color);
}

.two-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}