#projects {
    justify-content: center;
}

.card {
    background-color: grey;
    border: 5px solid transparent;
    max-width: 75%;
    min-width: 20%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

    cursor: pointer;
    transition: 300ms;
}

.card:hover {
    border: 5px solid black;
}

.two-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}