* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

:root {
    --primary-color: #1DBF73;
    --secondary-color: #0f5641;
    --black-color: #232222;
    --white-color: #fff;
    --gray-color: #e8e7e7;
  }
  
body {
    font-family: 'Palatino Linotype', sans-serif;
    background-color: #ffffff;
}

/* FONT STYLING */

h1 {
    font-size: 3rem; /*48px*/
}

h2 {
    font-size: 2rem; /*32px*/
}

h3 {
    font-size: 1.5rem; /*24px*/
}

p {
    font-size: 1rem; /*16px*/
}

.bold {
    font-weight: 700;
}

/* HEADER STYLING */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 9.75rem;
    background-color: var(--gray-color);
    position: relative;
}
 
.nav-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    color: var(--black-color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .5ms;
}

a.active {
    font-weight: 700;
    border-bottom: 3px solid var(--primary-color);  
}

a:hover {  
    color: var(--secondary-color);
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 860px) {
    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--gray-color);
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 24px;
        padding: 16px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    header {
        padding: 1.3rem 2rem;
    }
}

/* FOOTER STYLING */

footer {
    display: flex;
    background-color: var(--black-color);
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    padding: 1.3rem 9.75rem;
    font-size: .75rem;
}
  